/************** Font **************/

@font-face {
	font-family: 'ralewayregular';
	src: url('public/font/raleway-regular.woff2') format('woff2'),
		url('public/font/raleway-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

body,
header,
.gridtext,
.content,
.container {
	font-family: 'ralewayregular';
	margin: 0% 6% 0% 6%;
}

body,
footer {
	font-family: 'ralewayregular';
	margin: 0;
}

/************** Grid **************/

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 75px auto auto auto;
}

/************** Grid Logo **************/

.gridlogo {
	grid-column-start: 1;
	color: #ffffff;
}

/************** Navigation **************/

#navmenu {
	grid-column: 5 / span 5;
	text-decoration: none;
	color: black;
	padding-top: 30px;
}

ul {
	display: flex;
	list-style-type: none;
}

li {
	margin-right: 1rem;
}

.sub-nav {
	color: #0065fc;
}

a {
	text-decoration: none;
	color: black;

}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.heb-nav:hover,
.act-nav:hover,
.sub-nav:hover {
	color: #0065fc;
	border-top: 2px solid #0065fc;
	padding-top: 30px;
}

a:active {
	font-weight: bold;
}

/************ Barre de recherche ************/

.searchFormIcon {
	background-color: #F2F2F2;
	padding: 1rem 1.25rem;
	border-radius: 1rem 0 0 1rem;
	text-align: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 12px;
}

.searchFormInput {
	border-right: none;
	border-left: none;
	border-top: #F2F2F2 1px solid;
	border-bottom: #F2F2F2 1px solid;
	padding: 10px;
	box-sizing: border-box;
	width: 15rem;
	font-size: 1rem;
	font-weight: bold;
	font-family: "Raleway", "Sans serif";
}

.searchFormButton {
	display: inline-block;
	background-color: #0065FC;
	color: white;
	border: 1px solid transparent;
	border-radius: 0 1rem 1rem 0;
	padding: .375rem .75rem;
	font-family: "Raleway", "Sans serif";
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	line-height: 1.5;
}

.searchFormSubmitinputIcon {
	visibility: hidden
}

/**************** Filtres ****************/
.contentFilter {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-bottom: 35px;
}

.h2 {
	font-weight: bold;
}

.searchFilters {
	display: flex;
	align-items: center;
	border: 2px solid #d9d9d9;
	border-radius: 2rem;
	margin-bottom: 1rem;
	cursor: pointer;
	transition-duration: 0.1s;
	font-weight: bold;
	margin: 1em;
}

.filter {
	margin-right: 1em;
}

.filtersIcon {
	background-color: #ccd8eb;
	border-radius: 100%;
	height: 3rem;
	width: 3rem;
	min-height: 3.5rem;
	min-width: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px;
	color: #0065fc;
	margin-right: 1em;
}

.searchFilters:hover {
	cursor: pointer;
	background-color: #DEEBFF;
}

/*** Texte en dessous du filtre ****/

.infos {
	display: flex;
	align-items: center;
}

#information {
	min-height: 2rem;
	min-width: 2rem;
	border: solid 1px #d9d9d9;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
	color: #0065FC;
}

/**************** Section ****************/

.content {
	display: flex;
	margin-bottom: 4em;
}

/* Article hébergements */

.hosting {
	display: flex;
	margin-bottom: 1em;
}

.heb,
h1 {
	display: inline-block;
	width: 100%;
	font-size: 1.2em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.heb {
	display: block;
	width: 55%;
	border-radius: 10px;
	background-color: #F2F2F2;
	margin: 10px;
	padding-right: 2em;
	padding-left: 2em;
	margin-right: 4em;
}

.heb-picture {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1em;
}

.showMore:hover {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.425);
}

.figure-hebergement {
	width: 250px;
	height: 250px;
	padding: 4px;
	background-color: white;
	border-radius: 20px;
	margin: 0px;
	box-shadow: 2px 1px 5px 2px rgb(209 209 209);
}

.figcaption-heb {
	width: 100%;
	height: 80px;
}

.heb-chambre {
	width: 100%;
	height: calc(100% - 80px);
	border-radius: 20px 20px 0 0;
	-o-object-fit: cover;
	object-fit: cover;
}

/* Article Populaires */

.popular {
	width: 358px;
	height: 175px;
	margin-bottom: 30px;

}

.pop,
h1 {
	display: flex;
	font-size: 1.2em;
	font-weight: bold;
}

.pop-text {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.pop {
	display: block;
	width: 30%;
	border-radius: 10px;
	background-color: #F2F2F2;
	padding-right: 4em;
	padding-left: 2em;
	margin: 10px;
}

.figure-populaires {
	display: flex;
	width: 350px;
	height: 150px;
	padding: 4px;
	background-color: white;
	border-radius: 20px;
	margin: 0px;
	box-shadow: 2px 1px 5px 2px rgb(209 209 209);
}

.pop-chambre {
	width: 128px;
	height: 150px;
	border-radius: 20px 0 0 20px;
	-o-object-fit: cover;
	object-fit: cover;
}


/***** Article Activité *****/

.container {
	max-width: 1654px;
	box-sizing: border-box;
}

.act,
h1 {
	display: block;
	font-size: 1.2em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	font-weight: bold;
}

.act,
h3 {
	font-size: 1.1rem;
	margin: 1.5rem;
}

.activity {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
}

.activity {
	display: grid;
	column-gap: 2rem;
	margin: 2rem 0;
}

.activitybox {
	box-shadow: 0 0 20px #0000002e;
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition-duration: 0.1s;
}

.activityCardWrapimg {
	position: relative;
	flex: 1;
}

.big-img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.small-img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/***** Texte en dessous des photos Heb *****/

.hosting,
.title {
	font-weight: bold;
	font-size: 1.1rem;
	margin-left: 10px;
}

.details {
	margin-left: 10px;
	font-weight: normal;
	margin-top: 5px;
}

/***** Texte en dessous des photos Pop *****/

.details-pop {
	margin-left: 10px;
	font-weight: normal;
	margin-bottom: 2em;
	margin-top: 5px;
}

/***** Grid Activité *****/

.box1 {
	grid-row: 2/7;
	grid-column: 1/2;
}

.box2 {
	grid-column: 2/3;
	grid-row: 2/5;
}

.box3 {
	grid-column: 3/4;
	grid-row: 2/7;
}

.box4 {
	grid-column: 4/5;
	grid-row: 2/3;
}

.box5 {
	grid-column: 2/3;
	grid-row: 6/7;
}

.box6 {
	grid-column: 4/5;
	grid-row: 4/7;
}

/**************** Footer ****************/

.footer {
	background-color: #F2F2F2;
	width: 100%;
}

.footerBox {
	display: flex;
	max-width: 100%;
	width: 1440px;
	margin: auto;
	padding: 0 2rem;
	box-sizing: border-box;
}

.footerTitle {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
}

.category {
	width: 30%;
	padding: 2rem 2rem;
}

.footerLink {
	display: block;
	margin: 1rem 0;
}


/* Stars */

.blue {
	color: #0065FC;
}

.FFFFFF {
	color: #FFFFFF;
}

.afb8c7 {
	color: #afb8c7;
}

.i-logo {
	margin-right: 1em;
}

/************ Media Queries ************/

/******* Small devices *******/
@media screen and (max-width: 576px) {
	/* Header Media */

	.grid {
		position: relative;
		display: flex;
	}

	.sub-nav {
		position: absolute;
		right: 10%;
		top: 50%;
	}

	.liHeb {
		position: absolute;
		display: flex;
		bottom: -50%;
		right: 60%;
		border-bottom: 3px solid #F2F2F2;

	}

	.liAct {
		position: absolute;
		display: flex;
		bottom: -50%;
		right: 20%;
		border-bottom: 3px solid #F2F2F2;
	}

	.heb-nav:hover,
	.act-nav:hover,
	.sub-nav:hover {
		color: #0065fc;
		border-bottom-color: #0065FC;
		border-top: none;
		padding-top: 0;
	}


	.gridtext {
		margin-top: 10%;
	}

	/* Filtre Media */

	.contentFilter {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
	}

	.filters {
		width: 100%;
	}

	.searchFilters {
		font-weight: bold;
	}

	.searchFormButtoninput {
		display: none;
	}

	.searchFormSubmitinputIcon {
		visibility: visible;
	}

	.searchFormInput {
		width: 80%;
	}

	/* Section Media */

	.content {
		display: flex;
		flex-direction: column-reverse;
		margin: 0;
	}

	.container {
		width: 82%;
		margin: 0;
	}

	/* Hebergement Media */
	.heb {
		display: block;
		width: 100%;
		background-color: white;
		margin: 0;
		padding-right: 1em;
		padding-left: 1em;
		box-sizing: border-box;
	}

	.figure-hebergement {
		margin: 0;
		display: flex;
		width: 90%;
		height: 195px;
		margin-left: 5%;
	}

	.heb-picture {
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	.heb-chambre {
		width: 100%;
		height: 116px;
		border-radius: 20px 20px 0 0px;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.figure-hebergement {
		display: flex;
		width: 85%;
		flex-wrap: wrap;
		margin-bottom: 1rem;
	}

	.figcaption-heb {
		width: 100%;
	}


	/* Populaires Media */
	.pop {
		display: block;
		width: 90%;
		padding-right: 1.8em;
		padding-left: 1.8em;
		margin-left: 5%;
		box-sizing: border-box;
	}

	.popular {
		margin-bottom: 2em;
		width: 100%;
	}

	.figure-populaires {
		display: flex;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.pop-chambre {
		width: 45%;
		height: 100%;
		border-radius: 20px 0 0 20px;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.pop-text {
		margin: 5%;
	}

	/* Activités Media */

	.act {
		width: 100%;
	}

	.activity {
		display: block;
		margin-left: 5%;
		width: 100%;
	}

	.activitybox {
		display: flex;
		width: 100%;
		height: 185px;
		margin-bottom: 2rem;
	}

	/* Footer Media */
	.footerBox {
		display: block;
	}

	.category {
		width: auto;
		padding: 1rem 1rem;
	}

}

/****** Medium devices ******/
@media screen and (min-width: 577px) and (max-width: 768px) {
	/* Header Tablette */

	.gridtext {
		position: relative;

	}

	.sub-nav {
		position: absolute;
		right: 6%;
		top: 2%;
	}

	.liAct {
		position: absolute;
		right: 14%;
		top: 2%;
	}

	.liHeb {
		position: absolute;
		right: 24%;
		top: 2%;
	}

	.contentFilter {
		flex-wrap: wrap;
	}

	.filters {
		display: block;
		width: 100%;
		flex-wrap: wrap;
	}

	.searchFilters {
		margin: 0.3em;
	}

	/* Section Heb Tab */

	.content {
		display: block;
	}

	.heb {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		margin-right: 0;
	}


	.heb-picture {
		justify-content: space-around;
	}

	.showMore {
		display: flex;
		justify-content: flex-end;
	}

	/* Section Pop Tab */

	.pop {
		width: 100%;
		height: 750px;
		padding-right: 0;
		padding-left: 0;
		background-color: white;
	}

	.popular {
		display: flex;
		margin-bottom: 2em;
		padding-left: 2em;
	}


	.figure-populaires {
		display: flex;
		width: 150%;
		height: 185px;
		margin: 6%;
	}

	.pop-chambre {
		width: 45%;
		height: 185px;
		border-radius: 20px 0 0 20px;
	}

	/* Section Act Tab */

	.activity {
		display: block;
	}

	.activitybox {
		display: flex;
		width: 100%;
		height: 185px;
		margin-bottom: 2rem;
	}

}

/****** Large devices ******/
@media screen and (min-width: 769px) and (max-width: 992px) {

	.gridtext {
		position: relative;

	}

	.sub-nav {
		position: absolute;
		right: 6%;
		top: 5%;
	}

	.liAct {
		position: absolute;
		right: 14%;
		top: 5%;
	}

	.liHeb {
		position: absolute;
		right: 24%;
		top: 5%;
	}


	.content {
		display: block;
	}

	.heb {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		margin-right: 0;
	}


	.contentFilter {
		flex-wrap: wrap;
	}

	.filters {
		display: block;
		width: 100%;
		flex-wrap: wrap;
	}


	.pop {
		width: 100%;
		height: 750px;
		padding-right: 0;
		padding-left: 0;
	}

	.popular {
		width: 40%;
		display: flex;
		margin-bottom: 2em;
		padding-left: 4em;
	}


	.figure-populaires {
		display: flex;
		width: 150%;
		height: 185px;
		margin-left: 30%;

	}

	.pop-chambre {
		width: 45%;
		height: 185px;
		border-radius: 20px 0 0 20px;
	}

}


/****** X-Large devices ******/
@media screen and (min-width: 993px) and (max-width: 1200px) {
	.content {
		display: block;
	}

	.heb {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		margin-right: 0;
	}


	.pop {
		width: 100%;
		height: 750px;
		padding-right: 0;
		padding-left: 0;
	}

	.popular {
		display: flex;
		margin-bottom: 2em;
		padding-left: 2em;
	}


	.figure-populaires {
		display: flex;
		width: 150%;
		height: 185px;
		margin-left: 58%;

	}

	.pop-chambre {
		width: 45%;
		height: 185px;
		border-radius: 20px 0 0 20px;
	}

}