/************** Font **************/

@font-face {
	font-family: 'ralewayregular';
	src: url('public/font/raleway-regular.woff2') format('woff2'),
		url('public/font/raleway-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

body {
	font-family: 'ralewayregular';
	margin: 0;
	padding: 0;
	margin-left: 3%;
	margin-right: 3%;
}

/************** Grid **************/

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 75px auto auto auto;
}

/************** Grid Logo **************/

.gridlogo {
	grid-column-start: 1;
	color: #ffffff;
}

/************** Navigation **************/

#navmenu {
	grid-column: 5 / span 5;
	text-decoration: none;
	color: black;
	padding-top: 30px;
}

li {
	display: flex;
}

.sub-nav {
    color: #0065fc;
}

a {
	text-decoration: none;
	color: black;
	
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.heb-nav:hover,.act-nav:hover,.sub-nav:hover {
	color: #0065fc;
	border-top: 2px solid #0065fc;
	padding-top: 30px;
}

a:active {
	font-weight: bold;
}

/************ Barre de recherche ************/

.searchFormIcon {
	background-color: #F2F2F2;
	padding: 1rem 1.25rem;
	border-radius: 1rem 0 0 1rem;
	text-align: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 12px;
}

.searchFormInput {
	border-right: none;
	border-left: none;
	border-top: #F2F2F2 1px solid;
	border-bottom: #F2F2F2 1px solid;
	padding: 10px;
	box-sizing: border-box;
	width: 15rem;
	font-size: 1rem;
	font-weight: bold;
	font-family: "Raleway", "Sans serif";
}

.searchFormButton {
	display: inline-block;
	background-color: #0065FC;
	color: white;
	border: 1px solid transparent;
	border-radius: 0 1rem 1rem 0;
	padding: .375rem .75rem;
	font-family: "Raleway", "Sans serif";
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	line-height: 1.5;
}

/**************** Filtres ****************/
.contentFilter {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-bottom: 35px;
}

.h2 {
	font-weight: bold;
}

.searchFilters {
	display: flex;
	align-items: center;
	border: 2px solid #d9d9d9;
	border-radius: 2rem;
	margin-bottom: 1rem;
	cursor: pointer;
	transition-duration: 0.1s;
	font-weight: bold;
	margin: 1em;
}

.filter {
	margin-right: 1em;
}
.filtersIcon {
	background-color: #ccd8eb;
	border-radius: 100%;
	height: 3rem;
	width: 3rem;
	min-height: 3.5rem;
	min-width: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px;
	color: blue;
	margin-right: 1em;
}

.searchFilters:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

/**************** Section ****************/

.content {
	display: flex;

}

/* Article hébergements */

.hosting {
	display: flex;
}

.heb, h1{
	display: block;
	width: 100%;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.heb {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 55%;
	border-radius: 10px;
	background-color: #F2F2F2;
	margin: 10px;
	padding-right: 5em;
	padding-left: 2em;
	margin-right: auto;
	}

.heb a {
	text-decoration: none;
	color: black;
}

.showMore:hover {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.425);
}

.figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.figure-hebergement {
	width: 250px;
    padding: 4px;
    background-color: white;
    border-radius: 20px;
    margin: 0px;
    box-shadow: 2px 1px 5px 2px rgb(209 209 209);
}

.heb-chambre {
    width: 249px;
    height: 150px;
    border-radius: 20px 20px 0 0;
    -o-object-fit: cover;
    object-fit: cover;
}



.hosting:hover {
    transform: scale(1.05)
}
/* Article Populaires */
.pop {
	width: 35%;
	border-radius: 10px;
	background-color: #F2F2F2;
	margin: 10px;
	padding-right: 5em;
	padding-left: 2em;
	margin-right: auto;
}

.pop a {
	text-decoration: none;
	color: black;
}

.pop, h1 {
	display: flex;
	flex-wrap: wrap;
}

.pop,
#popular-logo {
	margin-left: 10em;
}

.popular:hover {
    transform: scale(1.05)
}
/* Article Activité */

.act {
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding: 1em
}

/**************** Footer ****************/

#footer {
	background-color: #F2F2F2;
	padding-left: 2em;
	padding-top: 2em;
	flex-direction: column;
}

#fotter h3 {
	font-weight: bold;
}

#footer ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

#footer li {
	display: list-item;
	list-style: none;
	line-height: 2;
}



/* Stars */

.blue {
	color: #0065FC;
}

.FFFFFF {
	color: #FFFFFF;
}

.afb8c7 {
	color: #afb8c7;
}

.i-logo {
	margin-right: 1em;
}
